@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --bg-color: #1C1C1C;
    --card-bg-color: #232323;
    --primary-text: #f6f6f6;
    --secondary-text: #e3e7ea;
    --blue: #1B53BA;
    --yellow: #FFCA08;
    --red: #ED1B24;


}

/* Reset browser defaults */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--primary-text);
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 22rem;
    min-width: 20rem;
    margin: 5rem;
}

.center-text {
    text-align: center;
}

.card-bg-color {
    background-color: var(--card-bg-color);
}

.card-body {
    padding: 1.5rem;
    padding-bottom: 0;
}

.input-bg {
    background-color: var(--card-bg-color);
    border: 0.1rem gray solid;
    color: var(--primary-text);
}

.input-bg:focus {
    background-color: var(--card-bg-color);
    color: var(--primary-text);
}

.btn-primary {
    background-color: var(--blue);
    border: none;
}

#btn-Google {
    margin-bottom: 2rem;
    background-color: whitesmoke;
    color: var(--bg-color)
}

#google-icon {
    width: 1rem;
    margin-right: 1rem;
}

.secondary {
    color: var(--secondary-text);
    font-size: 0.9rem;
}

a {
    color: var(--primary-text)
}